
.MuiDrawer-paper{
background-color: rgba(7, 6, 6, 0.316);
width: 15vw;
}
.MuiDrawer-root {
    background-color: rgba(150, 147, 147, 0);
}
.jslogo {
   
color:rgba(233, 48, 6, 0.936);
font-size: 3rem;
margin: 20;
display: flex;
justify-content: center;
text-shadow: -5px 0px 0px rgba(8, 155, 96, 0.936);
}

.jsname {
    display: flex;
    font-family:'Courier New', Courier, monospace;
justify-content: center;
color:rgba(244, 244, 244, 0.936)
    
}
.logoBg {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.sideItem {
    color:rgba(100, 97, 97, 0.936);
    
}
.sideItemText {
    font-family:'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
    .MuiDrawer-paper {
 width: 100% !important;

 }
 .appBar-menuIcon{
    color:rgba(244, 244, 244, 0.936);
 }
 .appBarLogo{
    color:rgba(233, 48, 6, 0.936);
font-size: 1.5rem;
margin: 20;
display: flex;
justify-content: center;
text-shadow: -2px 0px 0px rgba(8, 155, 96, 0.936);
 }
 .jslogo {
    
    display: none;
    
    }


}


.profile-appbar {
    display: flex;
    align-items:flex-end;
    background-color: rgba(43, 37, 37, 0.317);
    
}

.profile {
    display: flex;
    align-items: center;
    color:aliceblue;
    font-family:'Courier New', Courier, monospace;
    padding: 5vw;
    font-size:smaller;
    margin: 15vw;
}
.welcome {
    
    margin-bottom: 5px;
    font-size: 2rem;
}