
  

@media (min-width: 701px) {
 .profilecard {

  color: rgb(129, 128, 125);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-inline: 1rem;
  font-size: 1.5vw;
  
 } 

 #firstInitial {
    color: rgb(225, 77, 32);
    text-shadow: -5px 0px 0px rgb(5, 148, 151);
    
    
    font-weight: bolder;
    
 }
 #lastInitial {
    color: rgb(225, 77, 32);
    text-shadow: -5px 0px 0px rgb(5, 148, 151);
    font-weight: bolder;
 }
}

@media (max-width: 701px){
   .profilecard {
  
    color: rgb(129, 128, 125);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-inline: 1rem;
    font-size: 3vw;
    
   } 
  
   #firstInitial {
      color: rgb(225, 77, 32);
      text-shadow: -5px 0px 0px rgb(5, 148, 151);
      
      
      font-weight: bolder;
      
   }
   #lastInitial {
      color: rgb(225, 77, 32);
      text-shadow: -5px 0px 0px rgb(5, 148, 151);
      font-weight: bolder;
   }
  }